<form action="send" method="POST">
        {{msg}}
        <input name="name" type="text" placeholder="Full Name" required></input>
        <input name="email" type="text" placeholder="Email Address" required></input>
        <input name="business" type="text" placeholder="Business Name"></input>
        <textarea id="message" name="message" placeholder="Message" required></textarea>
        <input id="sending" type="submit" value="send"></input>
</form>