.skillsContainer {
    height: 1200px;
    width: 100%;
    background: rgba(3, 2, 2, 0.96);
    background: -webkit-linear-gradient(black, rgb(43, 43, 43));
    background: -o-linear-gradient( black ,rgb(43, 43, 43));
    background: -moz-linear-gradient( black rgb(43, 43, 43));
    background: linear-gradient( black, rgb(43, 43, 43));
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}

.sliderTitle {
    margin-top: 350px;
}

.skillsScrollParent {
    margin: 0 auto;
    min-height: 0;
    min-width: 0;
    padding: 10px;
    width: 60%;
    color: black;
    background: rgba(128, 128, 128, 0);
}


.slider {
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 100%; 
    color: white;
}

h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: .02em;
  }