.container1 {
    height: 1200px;
    width: 100%;
    margin: 0 none;
    padding: 0;
    background: rgba(3, 2, 2, 0.96);
    background: -webkit-linear-gradient(black, rgb(43, 43, 43));
    background: -o-linear-gradient(black, rgb(43, 43, 43));
    background: -moz-linear-gradient(black, rgb(43, 43, 43));
    background: linear-gradient(black, rgb(43, 43, 43));
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  
  .aboutMe {
    margin-top: 150px;
    height: 900px;
    width: 1400px;
    background: rgba(3, 2, 2, 0.96);
    background: -webkit-linear-gradient(rgb(12, 12, 12), rgb(51, 51, 51));
    background: -o-linear-gradient(rgb(12, 12, 12),  rgb(51, 51, 51));
    background: -moz-linear-gradient(rgb(12, 12, 12),  rgb(51, 51, 51));
    background: linear-gradient(rgb(12, 12, 12),  rgb(51, 51, 51));
    z-index: 100;
    box-shadow: 50px 80px 250px 5px rgba(216, 204, 161, 0.527);
    border-radius: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .amTitle {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 50px;
    color: rgb(224, 224, 190);
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 600;
    letter-spacing: .1em;
    text-shadow: 2px 5px 1px black;
  }

  .amParent {
    width: 90%;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .subtitles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    color: rgb(230, 230, 230);
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: .1em;
    font-weight: 400;
  }

  .subtitles2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    color: rgb(230, 230, 230);
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: .1em;
    font-weight: 400;
    margin-top: -160px;
  }

  #link {
    text-decoration: none !important;
  }

  .linky {
    text-align: left;
    text-decoration: none;
    cursor: default;
    display: inline-block;
    height: 250px;
    width: 480px;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .linky:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 4px solid transparent;
  }

  .linky:hover:before {
    animation: animate 1s linear forwards;
  }

  @keyframes animate 
  {
    0%
    {
      width: 0;
      height: 0;
      border-top-color: rgb(4, 235, 252);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    50%
    {
      width: 98.5%;
      height: 0;
      border-top-color: rgb(4, 235, 252);
      border-right-color: rgb(4, 235, 252);
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    100%
    {
      width: 98.5%;
      height: 98%;
      border-top-color: rgb(4, 235, 252);
      border-right-color: rgb(4, 235, 252);
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }

  .linky:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 4px solid transparent;
  }

  .linky:hover:after {
    animation: animate2 1s linear forwards;
    animation-delay: 1s;
  }

  @keyframes animate2 
  {
    0%
    {
      width: 0;
      height: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: rgb(4, 235, 252);
    }

    50%
    {
      width: 0;
      height: 98%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: rgb(4, 235, 252);
      border-left-color: rgb(4, 235, 252);
    }

    100%
    {
      width: 98.5%;
      height: 98%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: rgb(4, 235, 252);
      border-left-color: rgb(4, 235, 252);
    }
  }

  .paragraphs {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 480px;
    margin-top: 340px;
    color:rgb(99, 92, 63);
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
  }

  .paragraphs:hover a:nth-child(1) {
    color: rgb(228, 228, 228);
    box-shadow: 10px 10px 200px 10px rgba(216, 204, 161, 0.527);
    transition: 4s;
    background: rgb(51, 51, 51);
  }

  #realizedP:hover #realized  {
    color: rgb(4, 235, 252) !important;
    transition: 2s;
    font-weight: 900;
  }

  .paragraphs2 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 480px;
    height: 105px;
    color:rgb(99, 92, 63);
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
  }

  .paragraphs2:hover .linky:nth-child(1) {
    color: rgb(228, 228, 228);
    box-shadow: 10px 10px 200px 10px rgba(216, 204, 161, 0.527);
    transition: 4s;
    background: rgb(51, 51, 51);
  }

  .paragraphs2:hover a:nth-child(1) {
    color: rgb(228, 228, 228);
    transition: 4s;
    z-index: 200 !important;
    text-decoration: none !important;
    z-index: 200;
  }

  #span1:hover #span2 {
    color: rgb(4, 235, 252);
    transition: 2s;
  }

  #topList {
    margin-top: 10px;
  }

  .lParent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 3px;
  }

  .lParent2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 3px;
  }

  #span3 {
    width: 300px;
  }

  .description2 {
    font-size: 14px;
  }

  #span2 {
    width: 100px;
  }

  .description {
    font-size: 14px;
  }

  .paragraphs2:hover span:nth-child(1) {
    color: black;
    transition: 1s;
    cursor: pointer !important;
    z-index: 200;
    height: 50px;
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paragraphs2:hover i:nth-child(1) {
    color: rgb(4, 235, 252) !important;
    transition: 2s;
    z-index: 200 !important;
    text-decoration: none !important;
  }

  #background:hover #span3 {
    color: rgb(4, 235, 252) !important;
  }

  #sizeDiv:hover #size {
    background-color:  rgb(4, 235, 252) !important;
    transition: 2s;
    cursor: pointer !important;
    z-index: 200;
  }

  .myPicture {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 220px;
    background-color: transparent;
    box-shadow: 30px 30px 1000px 3px rgba(5, 105, 122, 0.671);
    border-radius: 20px;
  }

  .photo {
    width: 220px;
    height: auto;
    border-radius: 10px;
  }

  .linksParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .iconsParent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .iconsF {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 60px;
    cursor: pointer !important;
    color:rgb(99, 92, 63) !important;
    text-decoration: none !important;
  }

  #iconsF {
    color:rgb(99, 92, 63);
    text-decoration: none !important;
    cursor: pointer !important;
  }

  a:hover, a:focus, a:active, a:visited, a:link{
    text-decoration: none !important;
}

  .iSize {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color:rgba(44, 44, 44, 0);
    border-radius: 20px;
  }

  .Size {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:100px;
    color: black;
    background-color:rgb(99, 92, 63);
    border-radius: 5px;
  }

  .othersParent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .other {
    margin-top: 30px;
    cursor: pointer !important;
    height: 50px;
    width:100px;
  }

  .other a {
    cursor: pointer !important;
    text-decoration: none;
    color:rgb(99, 92, 63);
  }

  